@import url(http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);
h1 {
  text-align: center; }

#conversation {
  width: 100%;
  max-width: 650px;
  margin: 30px auto;
  font-family: Tahoma; }
  #conversation .container {
    border: 1px solid #c0002b;
    padding: 5px;
    margin-top: 10px;
    width: 100%;
    float: left;
    clear: both; }
    #conversation .container .alex > .picture, #conversation .container .alexText,
    #conversation .container .alexTime, #conversation .container .vlad > .picture,
    #conversation .container .vladText, #conversation .container .vladTime {
      float: left; }
    #conversation .container .alexTime,
    #conversation .container .vladTime {
      margin: 4% 0% 0% 2.5%;
      font-weight: bold;
      font-size: 12px;
      color: lightslategrey; }
    #conversation .container .delete-button {
      font-size: 24px;
      color: #c0002b;
      margin-left: 2%; }
  #conversation .alexText,
  #conversation .vladText {
    margin-top: 13px;
    padding: 10px;
    border-radius: 5px; }
  #conversation .alexText {
    background: #f0f4f8; }
  #conversation .vladText {
    background: #c7edfc; }
  #conversation .text {
    width: 70%; }
  #conversation .picture,
  #conversation .time {
    width: 10%; }
