@import '../mixins/mixins.scss';
@import '../variables/variables.scss';

.counties {
    color: $font-color;
    font-family: $arial;
    margin: 0 auto;
    max-width: 550px;
    padding-top: 15px;
    &__title {
        font-size: 36px;
        margin: 0;
    }
    &__input {
        @include borders(1px, 0, 1px, 0, solid, #ccc);
        display: inline-block;
        font-size: 16px;
        margin: 20px auto 40px;
        padding: 8px 5px;
        &:focus {
            outline: 0;
        }
    }
    &__container {
        background-color: #eee;
        border-radius: 8px;
        font-size: 14px;
        margin-bottom: 25px;
        padding: 20px;
    }
    &__heading {
        font-size: 24px;
        margin: 20px 0;
    }
    &__text {
        margin: 0;
    }
}