@import '../mixins/mixins.scss';
@import '../variables/variables.scss';

.counties {
    color: $font-color;
    font-family: $arial;
    margin: 0 auto;
    max-width: 550px;
    padding-top: 15px;
    &__title {
        font-size: 36px;
        margin: 15px 0;
        text-align: center;
    }
    &__input {
        @include borders(1px, 0, 1px, 0, solid, #ccc);
        color: $font-color;
        display: inline-block;
        font-size: 16px;
        margin: 20px auto 40px;
        padding: 8px 5px;
        width: 100%;
        &:focus {
            outline: 0;
        }
    }
    &__content {
        background-color: #eee;
        border-radius: 8px;
        font-size: 13px;
        margin-bottom: 25px;
        padding: 20px;
    }
    &__heading {
        font-size: 21px;
        margin: 20px 0 10px;
        text-align: center;
    }
    &__text {
        margin: 0;
    }
}