body {
    margin: 0;
    padding: 0;
    .content {
        background-color: rgba(92, 205, 240, 0.5);
        border: 1px solid #ccc;
        margin: 25px auto 0;
        max-width: 400px;
        padding: 12px;
        width: 100%;
        form {
            label, input {
                font-size: 14px;
            }
            label[for="male"] {
                margin-right: 18px;
            }
            label[for="male"],
            label[for="female"],
            label[for="check"] {
                text-indent: 3px;
            }
            label {
                color: #5d5b5b;
            }
            input {
                height: 30px;
                padding: 0.1rem .35rem .2rem !important;
            }
            .form-check {
                margin: 10px 0;
                .form-check-input {
                    height: auto;
                    margin: 6px 0 0 -15px;
                }
            }
            button {
                font-size: 14px;
                margin-top: 5px;
                width: 90px;
            }
        }
        .validation-alerts {
            margin-top: 5px;
            p {
                color:#cb2000;
                font-size: 14px;
                margin-bottom: 5px;
            }
        }
    }
}