body {
  margin: 0;
  padding: 0; }

.content {
  border: 1px solid #ccc;
  margin: 25px auto 0;
  max-width: 400px;
  padding: 10px;
  width: 100%; }
  .content form label, .content form input {
    font-size: 14px; }
  .content form input {
    height: 32px; }
  .content form .form-check {
    margin: 10px 0; }
    .content form .form-check .form-check-input {
      height: auto;
      margin: 10px -10px 0 0; }
  .content form button {
    font-size: 14px;
    width: 85px; }
