body {
  margin: 0;
  padding: 0; }
  body .content {
    background-color: #b7eafa;
    border: 1px solid #ccc;
    margin: 25px auto 0;
    max-width: 400px;
    padding: 12px;
    width: 100%; }
    body .content form label, body .content form input {
      font-size: 14px; }
    body .content form label[for="Male"] {
      margin-right: 25px; }
    body .content form label[for="Male"],
    body .content form label[for="Female"],
    body .content form label[for="Check"] {
      text-indent: 10px; }
    body .content form label {
      color: #333; }
    body .content form input {
      height: 32px;
      padding: 0 .35rem !important; }
    body .content form .form-check {
      margin: 10px 0; }
      body .content form .form-check .form-check-input {
        height: auto;
        margin: 6px 0 0 -15px; }
    body .content form button {
      font-size: 14px;
      margin-top: 5px;
      width: 85px; }
