body {
  margin: 0;
  padding: 0; }

.content {
  border: 1px solid #ccc;
  margin: 25px auto 0;
  max-width: 400px;
  padding: 10px;
  width: 100%; }
  .content form label, .content form input {
    font-size: 14px; }
  .content form input {
    height: 26px; }
