body {
    margin: 0;
    padding: 0;
    .content {
        background-color: rgb(183, 234, 250);
        border: 1px solid #ccc;
        margin: 25px auto 0;
        max-width: 400px;
        padding: 12px;
        width: 100%;
        form {
            label, input {
                font-size: 14px;
            }
            label[for="Male"] {
                margin-right: 18px;
            }
            label[for="Male"],
            label[for="Female"],
            label[for="Check"] {
                text-indent: 3px;
            }
            label {
                color: #333;
            }
            input {
                height: 32px;
                padding: 0 .35rem !important;
            }
            .form-check {
                margin: 10px 0;
                .form-check-input {
                    height: auto;
                    margin: 6px 0 0 -15px;
                }
            }
            button {
                font-size: 14px;
                margin-top: 5px;
                width: 85px;
            }
        }
        .validation-alerts {
            margin-top: 5px;
            p {
                color:#cb2000;
                margin-bottom: 5px;
            }
        }
    }
}