.links {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: 20px auto; }
  .links a {
    background-color: #cb2000;
    border-radius: 4px;
    color: #fff;
    font-size: 15px;
    padding: 8px 6px;
    text-decoration: none; }

.links-content {
  max-width: 300px;
  margin: 20px auto 0; }

.pbox {
  display: none; }

#div1 {
  display: block; }
