.links {
  display: flex;
  justify-content: space-between;
  max-width: 640px;
  margin: 20px auto; }
  .links a {
    background-color: #cb2000;
    border-radius: 4px;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 8px;
    text-decoration: none;
    text-transform: uppercase; }

.links-content {
  max-width: 300px;
  margin: 20px auto 0; }

.pbox {
  display: none; }

#div1 {
  display: block; }
