#display {
    margin: 25px auto;
    max-width: 115px;
    text-align: center;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 25px auto 0;
    max-width: 115px;
    .digit {
        font-size: 15px;
        margin-bottom: 5px;
        padding: 10px;
        .operators {
            margin-top: 10px;
            #addition, #substraction,
            #multiplication, #division {
                font-size: 18px;
            }
        }
    }
    .result>#equal {
        font-size: 18px;
        margin-top: 10px;
    }
}