.links {
    display: flex;
    justify-content: space-between;
    max-width: 500px;

    a {
        padding: 2px 2px;
        text-decoration: none;
        font-size: 14px;
        color: #68759c;
    }
}

.pbox {
    display: none;
}

#div1 {
    display: block;
}