.links {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: 20px auto; }
  .links a {
    font-size: 16px;
    padding: 5px;
    text-decoration: none; }

.links-content {
  max-width: 300px;
  margin: 20px auto 0; }

.pbox {
  display: none; }

#div1 {
  display: block; }
