.links {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin: 20px auto;

    a {
        padding: 2px 2px;
        font-size: 16px;
        color: #68759c;
    }
}

.pbox {
    display: none;
}

#div1 {
    display: block;
}