.links {
  display: flex;
  justify-content: space-between; }

a {
  padding: 2px 2px;
  text-decoration: none;
  font: bold 8px Verdana, Georgia, "Times New Roman", Times, serif;
  color: #68759c; }

a:hover {
  color: #8895b8;
  border: none; }

.pbox {
  display: none; }

#div1 {
  display: block; }
