.links {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin: 20px auto;

    a {
        background-color: #cb2000;
        border-radius: 10px;
        color: #fff;
        font-size: 16px;
        padding: 5px;
        text-decoration: none;
    }
}

.links-content {
    max-width: 300px;
    margin: 20px auto 0;
}

.pbox {
    display: none;
}

#div1 {
    display: block;
}