body {
  margin: 0;
  padding: 0; }

.content {
  margin: 30px auto;
  width: 450px; }

.content > div {
  justify-content: space-between; }
  .content > div #text {
    width: 250px; }
  .content > div .countBtn,
  .content > div #numberOfVowels {
    font-size: 15px; }
