.content {
    margin: 30px auto;
    width: 450px;

    >div {
        justify-content: space-between;
        width: 450px;

        input {
            height: 30px;

            &#number {
                width: 200px;
            }
            &#digit {
                width: 50px;
            }
        }
        p {
            font-size: 15px;
        }
    }
}