.content {
    margin: 30px auto;
    max-width: 450px;

    >div {
        justify-content: space-between;
        max-width: 450px;

        input {
            font-size: 14px;
            height: 30px;

            &#number {
                width: 200px;
            }
            &#digit {
                width: 50px;
            }
        }
        .digit-btn, p {
            font-size: 14px;
        }
        .digit-btn {
            padding: .25rem 0.75rem;
        }
    }
}