body {
    margin: 0;
    padding: 0;

    .main {
        margin: 30px auto 0;
        max-width: 300px;

        .btn {
            color:#fff;
            margin-right: 15px;
            &.like-btn {
                background-color: rgb(60, 139, 60);
            }
            &.unlike-btn {
                background-color: rgb(175, 65, 65);
            }
        }
    }
}