body {
    margin: 0;
    padding: 0;
}

.prices-container {
    margin: 25px  auto 0;
    max-width: 600px;

    .title-link {
        color: #222;
        display: flex;
        justify-content: space-between;
        text-decoration: none;
        width: 100%;
    }

    .vehicle-title {
        font-size: 21px;
        margin: 0;
    }

    .titles {
        border: 1px solid #ccc;
        margin-top: 25px;
        padding: 30px 10px;
    }

    .vehicle-price {
        text-align: right;

        .car-price {
            font-size: 16px;
        }
    }

    .monthly-price {
        display: block;
    }
}