body {
  margin: 0;
  padding: 0; }
  body .prices-container {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 20px auto 0;
    max-width: 600px; }
    body .prices-container .title-link {
      color: #222;
      display: flex;
      justify-content: space-between;
      text-decoration: none;
      width: 100%; }
    body .prices-container .vehicle-title {
      font-size: 16px;
      margin: 0; }
    body .prices-container .titles {
      border: 1px solid #ccc;
      margin-top: 25px;
      padding: 30px 10px; }
    body .prices-container .vehicle-price {
      line-height: 21px;
      text-align: right; }
      body .prices-container .vehicle-price .car-price {
        font-size: 15px; }
    body .prices-container .monthly-price {
      display: block;
      font-size: 13px;
      font-weight: bold; }
