body #searchList {
  margin: 25px auto;
  width: 400px; }

body #moviesList div {
  border-bottom: 1px solid #ccc;
  margin: 0 auto;
  padding: 20px;
  width: 90%; }

body #moviesList h2 {
  margin-bottom: 3px; }
