@import 'variables/variables.scss';

@import 'mixins/mixins.scss';

body {

    #searchList {
        margin: 25px auto;
        width: 400px;
    }

    #moviesList {
        div {
            border-bottom: 1px solid #ccc;
            padding: 20px;
            width: 90%;
        }
    }
}