@import 'variables/variables.scss';

@import 'mixins/mixins.scss';

body {

    #searchList {
        margin: 25px auto;
        width: 400px;
    }

    #moviesList {
        
    }
    .pop-up {
        top: 49vh;
    }
}