@import 'variables/variables.scss';
@import 'mixins/mixins.scss';

body {
    #searchList {
        margin: 25px auto;
        width: 400px;
    }

    #moviesList {
        div {
            border-bottom: 1px solid #ccc;
            font-style: italic;
            margin: 0 auto;
            padding: 20px;
            width: 90%;
        }

        h2 {
            font-style: normal;
            margin-bottom: 3px;
        }
    }
}