.dropdown {
  border-radius: 4px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
  margin: 35px auto;
  max-width: 200px;
  text-align: center; }
  .dropdown__button {
    cursor: pointer;
    font-weight: 600;
    padding: 8px 0; }
  .dropdown__list {
    display: none;
    font-size: 14px;
    font-weight: 400;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; }
    .dropdown__list-item {
      border-top: 1px solid #ccc;
      cursor: pointer;
      padding: 10px; }
