@import 'variables/variables.scss';
@import 'mixins/mixins.scss';

body {
    background-color: #aaa;

    #main {
        color: $font;
        font-family: $gill-sans;
        margin: 20px auto;
        max-width: 1100px;
        width: 100%;
    }

    .product {
        background-color: #fff;
        justify-content: space-between;
        padding: 20px;

        &__box {
            flex-direction: column;
            max-width: 250px;
            width: 100%;
        }

        &__img {
            margin-bottom: 10px;
        }

        &__text {
            font-size: 18px;
            text-align: center;

            + div {
                justify-content: space-evenly;
            }
        }

        &__btn {
            border-radius: 8px;
            cursor: pointer;
            display: inline-block;
            font-size: 28px;
            font-weight: bold;
            height: 100%;
            max-height: 40px;
            max-width: 40px;
            text-align: center;
            width: 100%;

            span {
                line-height: 35px;
            }

            &--add {
                border: 1px solid $green-dark;
                color: $green-dark;
            }

            &--remove {
                border: 1px solid $red;
                color: $red;
            }
        }
    }
    
    .product__total {
        font-size: 21px;
        margin: 50px auto;
        text-align: center;
    }
}