.search-form {
    margin: 0 auto;
    max-width: 300px;
}

.form-tabs {
    margin: 20px 0;

    input {
        display: none;
    }

    label {
        border: 1px solid #ccc;
        border-radius: 6px;
        cursor: pointer;
        font-size: 16px;
        height: 32px;
        line-height: 28px;
        text-align: center;
        width: 125px;

        &:hover {
            background-color: #ddd;
        }
    }
}

.search-panel {
    select, option {
        font-size: 16px;
        width: 125px;
    }
}