.links {
    display: flex;
    
    justify-content: space-between;
    max-width: 720px;
    margin: 20px auto;

    a {
        background-color: #cb2000;
        border-radius: 4px;
        color: #fff;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 1px;
        padding: 10px 15px;
        text-decoration: none;
        text-transform: uppercase;
    }
}

.links-content {
    max-width: 300px;
    margin: 20px auto 0;
}

.pbox {
    display: none;
    text-transform: uppercase;
}

#div1 {
    display: block;
}