.form-tabs {
    margin: 20px 0;

    input {
        display: none;
    }

    label {
        border: 1px solid #ccc;
        border-radius: 6px;
        cursor: pointer;
        font-size: 18px;
        height: 32px;
        line-height: 26px;
        text-align: center;
        width: 108px;

        &:hover {
            background-color: #ddd;
        }
    }
}