.search-form {
  margin: 0 auto;
  max-width: 300px; }

.form-tabs {
  margin: 20px 0; }
  .form-tabs input {
    display: none; }
  .form-tabs label {
    border: 1px solid #ccc;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    height: 32px;
    line-height: 26px;
    text-align: center;
    width: 125px; }
    .form-tabs label:hover {
      background-color: #ddd; }

.search-panel select, .search-panel option {
  width: 125px; }
