$font: Tahoma;
$white: #fff;
$bg-color: #00a8cc;
$blue: #6AB7CA;
$dark-blue: #2a6173;
$gray: #a29e9e;
 
@mixin listBorder {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

body {
    background-color: $bg-color;
    margin: 0;
    padding: 0;
}

.container {
    .title {
        color: $white;
        font-family: $font;
        font-weight: 500;
        margin: 45px 0;
        text-align: center;
        text-transform: uppercase;
    }

    .main-container {
        margin: 20px auto 0;
        max-width: 615px;
        width: 100%;

        .type-field {
            display: flex;

            .add-button {
                background-color: rgb(2, 2, 94);
                border-color: transparent;
                border: 0;
                border-radius: 0 !important;
                color: #fff;
                font-weight: bold;
                padding: 5px 0;
                width: 75px;
                text-align: center;

                &:focus {
                    box-shadow: 0 0 0 0 transparent;
                    outline: 0 !important;
                }
            }

            .btn-success:not(:disabled):not(.disabled).active:focus,
            .btn-success:not(:disabled):not(.disabled):active:focus,
            .show>.btn-success.dropdown-toggle:focus {
                box-shadow: 0 0 0 0 transparent;
            }

            #field {
                border: 1px solid $gray;
                width: 100%;
                @include listBorder;
            }
        }

        .list-container {
            ul {
                color: $white;
                list-style-position: outside;
                list-style-type: none;
                padding-left: 25px;

                li {
                    background-color: $blue;
                    border: 1px solid $dark-blue;
                    border-radius: 5px;
                    box-shadow: 1px -1px 24px $dark-blue;
                    color: $white;
                    font-weight: 600;
                    letter-spacing: 1px;
                    margin: 18px 0;
                    padding: 14px;
                    position: relative;
                    width: 100%;

                    i {
                        color: $dark-blue;
                        cursor: pointer;
                        display: block;
                        font-size: 21px;
                        font-weight: 100;
                        position: absolute;
                        right: 6px;
                        top: 4px;
                        z-index: 100;
                    }
                }
            }
        }
    }
}