$font: Tahoma;
$white: #fff;
$bg-color: #00a8cc;
$blue: #6AB7CA;
$dark-blue: #2a6173;
$gray: #a29e9e;
$green: #28a745;
 
@mixin listBorder {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

body {
    background-color: $bg-color;
    margin: 0;
    padding: 0;
}

.container .title {
    color: $white;
    font-family: $font;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 45px 0;
    text-align: center;
    text-transform: uppercase;
}

.main-container {
    margin: 20px auto 0;
    max-width: 615px;
    width: 100%;

    .type-field {
        display: flex;
    }
    
    .add-button {
        background-color: $green;
        border-color: transparent;
        border: 0;
        border-radius: 0 !important;
        color: #fff !important;
        cursor: pointer;
        font-weight: 400;
        padding: 5px 0;
        width: 85px;
        text-align: center;
        text-transform: uppercase;
    }

    #field {
        border: 1px solid $gray;
        width: 100%;
        @include listBorder;
    }
}

.list-container .list-main {
    color: $white;
    list-style-position: outside;
    list-style-type: none;
    padding-left: 25px;

    li {
        background-color: $blue;
        border: 1px solid $dark-blue;
        border-radius: 5px;
        box-shadow: 1px -1px 24px $dark-blue;
        color: $white;
        font-weight: 600;
        letter-spacing: 1px;
        margin: 18px 0;
        padding: 14px;
        position: relative;
        width: 100%;

        &:nth-of-type(1) {
            display: none;
        }

        i {
            color: $dark-blue;
            cursor: pointer;
            font-size: 21px;
            font-weight: 100;
            position: relative;
            float: right;
            top: -5px;
        }
    }
}