body {
    background-color: #00a8cc;
    margin: 0;
    padding: 0;
    h3{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 30px 0;
        text-align: center;
    }
}

.main-container {
    margin: 20px auto 0;
    max-width: 600px;
    width: 100%;
    input {
        border: 1px solid #a29e9e;
        border-radius: 4px;
        width: 100%;
    }
    ul {
        color: #fff;
        list-style-type: none;
        li {
            border: 1px solid #000839;
            padding: 10px;
            width: 100%;
        }
    }
}