body {
  background-color: #00a8cc;
  margin: 0;
  padding: 0; }
  body h3 {
    color: #fff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 45px 0;
    text-align: center; }
  body .main-container {
    margin: 20px auto 0;
    max-width: 650px;
    width: 100%; }
    body .main-container .type-field {
      display: flex; }
      body .main-container .type-field button {
        border-color: transparent; }
      body .main-container .type-field input {
        border: 1px solid #a29e9e;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 4px !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 4px !important;
        width: 100%; }
    body .main-container ul {
      color: #fff;
      list-style-position: outside;
      list-style-type: none;
      padding-left: 25px; }
      body .main-container ul li {
        background-color: #6AB7CA;
        border: 2px solid #2a6173;
        border-radius: 6px;
        box-shadow: 1px -1px 12px #2a6173;
        color: #fff;
        font-weight: 500;
        letter-spacing: 1px;
        margin: 18px 0;
        padding: 15px;
        position: relative;
        width: 100%; }
        body .main-container ul li i {
          color: #2a6173;
          cursor: pointer;
          display: block;
          font-size: 21px;
          font-weight: 100;
          position: absolute;
          right: 6px;
          top: 4px; }
