body {
  background-color: #00a8cc;
  margin: 0;
  padding: 0; }

.container .title {
  color: #fff;
  font-family: Tahoma;
  font-weight: 500;
  margin: 45px 0;
  text-align: center;
  text-transform: uppercase; }

.container .main-container {
  margin: 20px auto 0;
  max-width: 615px;
  width: 100%; }
  .container .main-container .type-field {
    display: flex; }
    .container .main-container .type-field .add-button {
      background-color: #02025e;
      border-color: transparent;
      border: 0;
      border-radius: 0 !important;
      color: #fff;
      font-weight: bold;
      padding: 5px 0;
      width: 75px;
      text-align: center; }
    .container .main-container .type-field #field {
      border: 1px solid #a29e9e;
      width: 100%;
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important; }
  .container .main-container .list-container ul {
    color: #fff;
    list-style-position: outside;
    list-style-type: none;
    padding-left: 25px; }
    .container .main-container .list-container ul li {
      background-color: #6AB7CA;
      border: 1px solid #2a6173;
      border-radius: 5px;
      box-shadow: 1px -1px 24px #2a6173;
      color: #fff;
      font-weight: 600;
      letter-spacing: 1px;
      margin: 18px 0;
      padding: 14px;
      position: relative;
      width: 100%; }
      .container .main-container .list-container ul li i {
        color: #2a6173;
        cursor: pointer;
        display: block;
        font-size: 21px;
        font-weight: 100;
        position: absolute;
        right: 6px;
        top: 4px;
        z-index: 100; }
