.content {
  margin: 30px auto;
  width: 450px; }
  .content > div {
    justify-content: space-between;
    max-width: 450px;
    width: 100%; }
    .content > div input {
      font-size: 15px;
      padding-left: 3px; }
      .content > div input#textContent {
        width: 200px; }
      .content > div input#numberValue {
        width: 100px; }
    .content > div button {
      background-color: #1e7e34;
      border-radius: 6px;
      border: 0 solid transparent;
      color: #fff;
      font-size: 14px;
      letter-spacing: 1px;
      padding: 7px 12px; }
  .content p {
    display: block;
    font-size: 15px;
    margin-top: 25px; }
