.content {
    margin: 30px auto;
    width: 450px;

    &>div {
        justify-content: space-between;
        max-width: 450px;
        width: 100%;

        input {
            font-size: 15px;
            padding-left: 3px;

            &#textContent {
                width: 200px;
            }
            &#numberValue {
                width: 100px;
            }
        }

        .truncate-btn {
            background-color: #1e7e34;
            border-radius: 6px;
            border: 0 solid transparent;
            color: #fff;
            font-size: 14px;
            letter-spacing: 1px;
            padding: 7px 12px;
        }
    }

    .result {
        display: block;
        font-size: 15px;
        margin-top: 25px;
    }
}