@import 'variables/variables.scss';

@import 'mixins/mixins.scss';

.content {
    margin: 30px auto;
    width: 450px;

    >div {
        justify-content: space-between;
        width: 450px;

        input {
            height: 30px;

            &#textContent {
                width: 200px;
            }
            &#numberValue {
                width: 50px;
            }
        }
        p {
            font-size: 15px;
        }
    }
}