.content {
  margin: 30px auto;
  width: 450px; }
  .content > div {
    justify-content: space-between;
    width: 450px; }
    .content > div input {
      height: 30px; }
      .content > div input#textContent {
        width: 200px; }
      .content > div input#numberValue {
        width: 50px; }
    .content > div p {
      font-size: 15px; }
