.content {
    margin: 30px auto;
    width: 450px;

    &>div {
        justify-content: space-between;
        max-width: 450px;
        width: 100%;

        input {
            height: 30px;

            &#textContent {
                width: 200px;
            }
            &#numberValue {
                width: 50px;
            }
        }
        button {
            background-color: #1e7e34;
            border-radius: 8px;
            border: 0 solid transparent;
            color: #fff;
            font-size: 14px;
            padding: 7px 12px;
        }
        p {
            font-size: 15px;
        }
    }
}