.content {
  margin: 30px auto;
  width: 450px; }
  .content > div {
    justify-content: space-between;
    max-width: 450px;
    width: 100%; }
    .content > div input {
      height: 30px; }
      .content > div input#textContent {
        width: 200px; }
      .content > div input#numberValue {
        width: 50px; }
    .content > div button {
      background-color: #1e7e34;
      border-radius: 8px;
      border: 0 solid transparent;
      color: #fff;
      font-size: 14px;
      padding: 7px 12px; }
    .content > div p {
      font-size: 15px; }
