@import 'variables/variables.scss';

@import 'mixins/mixins.scss';

.content {
    display: flex;
    flex-direction: column;
    margin: 30px auto 0;
    width: 350px;
    #commentSection {
        font-size: 15px;
        width: 350px;
    }
    button {
        background-color: #03A9F4;
        border-color: #03A9F4;
        float: right;
        margin-top: 20px;
        outline: none;
        text-transform: uppercase;
        width: 100px;
        &:hover {
            background-color: #0288D1;
            border-color: #0288D1;
        }
    }
    .content-comments {
        padding-top: 10px;
        width: 350px;
    }
    #commentDisplay {
        .text {
            background-color: #B3E5FC;
            border-radius: 6px;
            color: #757575;
            font-size: 15px;
            list-style-type: none;
            margin-bottom: 13px;
            padding: 10px 13px;
            position: relative;
            &:after {
                position: absolute;
            }
        }
    }
    .high {
        color: #000;
    }
    .medium {
        color: #070;
    }
    .low {
        color: #f53;
    }
    .negative {
        color: #f00;
    }
}