$black: #000;
$green: #070;
$pink: #f07;
$red: #f00;

.content {
    display: flex;
    flex-direction: column;
    margin: 30px auto 0;
    width: 400px;

    #commentSection {
        font-size: 15px;
        width: 100%;
    }

    button {
        background-color: #03A9F4;
        border-color: #03A9F4;
        font-weight: 500;
        letter-spacing: 1px;
        margin: 20px 0 10px;
        outline: none;
        text-transform: uppercase;
        width: 80px;

        &:hover {
            background-color: #0288D1;
            border-color: #0288D1;
        }
    }

    .content-comments {
        padding-top: 10px;
        width: 400px;
    }

    #commentDisplay {
        overflow: hidden;

        .text {
            background-color: #B3E5FC;
            border-radius: 6px;
            color: #111;
            font-size: 15px;
            list-style-type: none;
            margin-bottom: 13px;
            padding: 12px;
            position: relative;
            word-break: break-all;
            width: 100%;

            &:after {
                position: absolute;
            }
        }
    }

    #counter {
        font-weight: bold;
        margin-top: 10px;
    }

    .high {
        color: $black;
    }

    .medium {
        color: $green;
    }

    .low {
        color: $pink;
    }

    .negative {
        color: $red;
    }
}