.content {
  display: flex;
  flex-direction: column;
  margin: 30px auto 0;
  width: 350px; }
  .content #commentSection {
    font-size: 15px;
    width: 350px; }
  .content button {
    background-color: #03A9F4;
    border-color: #03A9F4;
    float: right;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 20px 0 10px;
    outline: none;
    text-transform: uppercase;
    width: 100px; }
    .content button:hover {
      background-color: #0288D1;
      border-color: #0288D1; }
  .content .content-comments {
    padding-top: 10px;
    width: 350px; }
  .content #commentDisplay .text {
    background-color: #B3E5FC;
    border-radius: 6px;
    color: #757575;
    font-size: 15px;
    list-style-type: none;
    margin-bottom: 13px;
    padding: 10px;
    position: relative;
    width: 300px; }
    .content #commentDisplay .text:after {
      position: absolute; }
  .content #counter {
    font-weight: bold; }
  .content .high {
    color: #000; }
  .content .medium {
    color: #070; }
  .content .low {
    color: #f07; }
  .content .negative {
    color: #f00; }
