.main {
  margin: 30px auto 0;
  max-width: 200px; }
  .main #textField {
    font-size: .8em;
    margin: 0 auto 1rem;
    padding: .25rem;
    width: 100%; }
  .main p {
    font-size: .8em;
    margin: .5rem 0 0; }
    .main p span {
      font-weight: bold;
      margin-left: .2rem; }
    .main p.alert-text {
      color: #ff0000;
      display: none;
      font-weight: bold;
      text-align: center; }
