.main {
  margin: 30px auto 0;
  max-width: 200px; }
  .main #textField {
    margin: 0 auto 1rem;
    padding: .25rem;
    width: 100%; }
  .main #texxtField, .main .check-btn, .main p {
    font-size: .9em; }
  .main .check-btn {
    letter-spacing: 1px;
    margin-bottom: .3rem;
    padding: .1rem;
    width: 85px; }
  .main p {
    margin: .5rem 0 0; }
    .main p span, .main p .alert-text {
      font-weight: bold; }
    .main p span {
      margin-left: .2rem; }
    .main p.alert-text {
      color: #ff0000;
      display: none;
      text-align: center; }
