.main {
    margin: 30px auto 0;
    max-width: 200px;
    #textField {
        margin: 0 auto 1rem;
        padding: .25rem;
        width: 100%;
    }
    #textField, .check-btn, p {
        font-size: .9em;
    }
    .check-btn {
        margin-bottom: .3rem;
        padding: .15rem .1rem;
        width: 85px;
    }
    p {
        margin: .5rem 0 0;
        span, .alert-text {
            font-weight: bold;
        }
        span {
            margin-left: .2rem;
        }
        &.alert-text {
            color: #ff0000;
            margin: .6rem 0;
            text-align: center;
            text-transform: uppercase;
        }
    }
}