@import 'variables/variables.scss';

.main {
    color: $font;
    margin: 30px auto 0;
    max-width: 220px;

    #textField {
        margin: 0 auto 20px;
        padding: 5px;
        width: 100%;
    }
    .check-btn {
        background-color: rgb(11, 63, 11);
        color: #fff;
        font-size: 15px;
        margin-bottom: .3em;
        padding: 10px 15px;
        text-transform: uppercase;
        width: 85px;
    }
    p {
        font-family: $verdana;
        margin: 10px 0 0;

        span, .alert-text {
            font-weight: bold;
        }
        span {
            margin-left: 10px;
        }
        &.alert-text {
            color: $red;
            margin: 15px 0;
            text-align: center;
            text-transform: uppercase;
        }
    }
}