.main {
  color: #444;
  margin: 30px auto 0;
  max-width: 220px; }
  .main #textField {
    margin: 0 auto 20px;
    padding: 5px;
    width: 100%; }
  .main .check-btn {
    background-color: #0b3f0b;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    letter-spacing: 1px;
    margin-bottom: .3em;
    padding: 10px 15px;
    text-transform: uppercase; }
  .main p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 10px 0 0; }
    .main p span, .main p .alert-text {
      font-weight: bold; }
    .main p span {
      margin-left: 10px; }
    .main p.alert-text {
      color: #c0002b;
      margin: 15px 0;
      text-align: center;
      text-transform: uppercase; }
