body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0; }

.box-weekdays {
  margin: 30px; }

#excluded {
  padding: 15px; }

#selectable {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 10px auto 0;
  padding-left: 0;
  max-width: 960px; }
  @media all and (min-width: 768px) {
    #selectable {
      margin: 10px; } }
  #selectable li {
    background-color: #a31800;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    list-style-type: none;
    margin: 10px;
    width: 130px;
    padding: 10px 0;
    text-align: center; }
    @media all and (min-width: 768px) {
      #selectable li {
        margin: 0 15px 0 0; } }
    #selectable li.clicked {
      background-color: #039403; }
    #selectable li.disable-day {
      background-color: #ccc;
      color: #000; }
