body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0; }

.box-weekdays {
  margin: 30px; }

#excluded {
  padding: 15px; }

#selectable {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-left: 0;
  width: 100%; }
  #selectable li {
    background-color: #a31800;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    list-style-type: none;
    margin-right: 15px;
    padding: 10px 25px;
    text-align: center; }
    #selectable li.clicked {
      background-color: #039403; }
    #selectable li.disable-day {
      background-color: #ccc;
      color: #000; }
