body {
  margin: 0;
  padding: 0; }
  body #textSection {
    color: #444;
    font-size: 15px;
    margin: 50px auto 0;
    padding: 5px; }
    body #textSection textarea {
      height: 100px;
      width: 300px; }
  body #maxWords {
    display: block;
    font-size: 15px;
    margin-top: 15px; }
