@import '../variables/variables.scss';

@import '../mixins/mixins.scss';

.account {
    font-size: 15px;
    margin: 20px auto;
    max-width: 215px;
    padding: 15px;
    div.d-flex {
        flex-flow: column nowrap;
    }
    &__input,
    &__dropdown,
    &__check {
        margin-bottom: 15px;
    }
    #firstName,
    #lastName {
        padding-left: 4px;
    }
    &__check {
        .add-overdraft__value {
            display: none;
        }
        #checkOverdraft:checked + .add-overdraft__value {
            display: block;
        }
    }
}