@import '../variables/variables.scss';

@import '../mixins/mixins.scss';

.echo {
    flex-direction: column;
    font-size: 15px;
    margin: 20px auto;
    max-width: 825px;
    &-text {
        height: 400px;
        width: 400px;
        &:nth-of-type(2) {
            margin-left: auto;
        }
    }
}

#echoSubmit {
    margin: 25px auto;
    padding: 2px;
    width: 16%;
}