#main {
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
  width: 100%; }
  @media all and (max-width: 767px) {
    #main {
      align-items: center;
      flex-flow: column nowrap; } }
  #main .table-links {
    color: #444;
    cursor: pointer;
    display: inline-block;
    max-width: 350px;
    text-decoration: none;
    width: 100%; }
    @media all and (max-width: 767px) {
      #main .table-links {
        max-width: 70%; } }
    #main .table-links .world-cup-table {
      font-size: 15px;
      margin: 25px auto;
      text-align: center; }
      @media all and (max-width: 767px) {
        #main .table-links .world-cup-table {
          margin: 25px auto 12.5px; } }

.selected-group {
  margin: 25px auto 0 !important;
  max-width: 350px !important;
  width: 100% !important; }
