@import '../variables/variables.scss';

@import '../mixins/mixins.scss';

#main {
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 800px;
    width: 100%;

    @media all and (max-width: 767px) {
        align-items: center;
        flex-flow: column nowrap;
    }

    .table-links {
        color: #444;
        cursor: pointer;
        display: inline-block;
        max-width: 350px;
        text-decoration: none;
        width: 100%;

        @media all and (max-width: 767px) {
            max-width: 70%;
        }
        .world-cup-table {
            font-size: 15px;
            margin: 25px auto;
            text-align: center;

            @media all and (max-width: 767px) {
                margin: 25px auto 12.5px;
            }
        }
    }
}


.selected-group {
    margin: 25px auto 0 !important;
    max-width: 350px !important;
    width: 100% !important;
}