body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; }
  body .header__menu {
    background-color: #0a493e;
    border-bottom: 15px solid #317c2e;
    padding: 13px; }
    body .header__menu-text {
      color: #fff;
      font-size: 20px;
      margin-bottom: 0; }
  body .header__cover {
    background-position-y: -30px;
    background-attachment: local;
    background-image: url("../../images/train-tickets/GWR-cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 350px;
    position: relative; }
  body .header__logo {
    filter: brightness(100);
    left: 0;
    margin: 0 auto;
    max-height: 212px;
    max-width: 300px;
    position: absolute;
    right: 0;
    top: 25px; }
  body .content__panel {
    background-color: #0a493e;
    margin: 40px auto;
    padding: 10px 15px; }
    body .content__panel__logo {
      filter: brightness(100); }
    body .content__panel div {
      flex-direction: column; }
    body .content__panel-text {
      color: #fff;
      font-size: 18px;
      margin-bottom: 4px; }
      body .content__panel-text:last-of-type {
        margin-bottom: 0; }
  body .content-stations {
    flex-flow: row wrap;
    font-size: 16px;
    justify-content: space-between;
    text-transform: uppercase; }
    body .content-stations__col {
      background-color: #0a493e;
      color: #fff;
      cursor: pointer;
      font-size: 18px;
      margin-bottom: 15px;
      min-width: 350px;
      padding: 15px 0;
      text-align: center; }
