@import '../variables/variables.scss';

@import '../mixins/mixins.scss';


#namesList {
    list-style-type: none;
    margin: 30px auto 0;
    max-width: 300px;
    padding-left: 0;

    li {
        margin-bottom: 10px;
    }
}