@import '../variables/variables.scss';

@import '../mixins/mixins.scss';


#namesList {
    list-style-type: none;
    margin-left: 15%;
    margin-top: 30px;
    padding-left: 0;

    li {
        border: 1px solid #ccc;
        margin-bottom: 10px;
    }
}