@import '../variables/variables.scss';

@import '../mixins/mixins.scss';

#productsList {
    font-size: 14px;
    height: 24px;
    padding: 2px;
    width: 120px;
}

.product {
    border-bottom: 1px solid #ccc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;

    h3 {
        text-transform: uppercase;
    }

    img {
        margin-left: -6%;
        max-width: 300px;
    }
}