@import '../mixins/mixins.scss';
@import '../variables/variables.scss';

.counties {
    color: $font-color;
    font-family: $gill-sans;
    margin: 0 auto;
    max-width: 550px;
    &__title {
        font-size: 30px;
        margin: 15px 0;
        text-align: center;
    }
    &__input {
        @include borders(1px, 0, 1px, 0, solid, #ccc);
        color: $font-color;
        display: inline-block;
        font-size: 15px;
        margin: 20px auto 40px;
        padding: 5px;
        width: 100%;
        &:focus {
            outline: 0;
        }
    }
    &__container {
        background-color: #eee;
        border-radius: 6px;
        display: inline-block;
        font-size: 15px;
        margin-bottom: 25px;
        padding: 0 20px 20px;
    }
    &__heading {
        font-size: 20px;
        margin: 20px 0 15px;
        text-align: center;
    }
    &__text {
        margin: 0;
    }
}