.dropdowns {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  justify-content: space-between;
  margin: 25px auto 0;
  max-width: 600px;
  width: 100%; }
  .dropdowns select {
    padding: 2px;
    width: 160px; }
