@import '../variables/variables.scss';
@import '../mixins/mixins.scss';

.dropdowns {
    justify-content: space-between;
    margin: 35px auto 0;
    max-width: 400px;
    width: 100%;

    select {
        border-radius: 4px;
        font-size: 14px;
        padding: 4px;
        width: 45%;

        option {
            font-size: 14px;
        }
    }

    #stock {
        width: 18px;
    }
}