@import '../variables/variables.scss';
@import '../mixins/mixins.scss';

.dropdowns {
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 35px auto 0;
    width: 400px;

    select {
        border-radius: 4px;
        font-size: 14px;
        padding: 4px;
        width: 43%;
        option {
            font-size: 14px;
        }
    }
    .number-box {
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-top: 25px;

        p {
            display: inline-block;
            margin-bottom: 5px;
        }
    }
    #stock {
        display: inline;
        margin-left: 4px;
        text-align: center;
    }
}