.dropdowns {
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 35px auto 0;
  width: 400px; }
  .dropdowns select {
    border-radius: 4px;
    font-size: 14px;
    padding: 4px;
    width: 43%; }
    .dropdowns select option {
      font-size: 14px; }
  .dropdowns .number-box {
    font-size: 14px;
    letter-spacing: 1px;
    margin-top: 20px; }
    .dropdowns .number-box p {
      margin-bottom: 5px; }
  .dropdowns #stock {
    text-align: center;
    width: 45px; }
