@import '../variables/variables.scss';
@import '../mixins/mixins.scss';

.dropdowns {
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 35px auto 0;
    width: 400px;

    select {
        border-radius: 4px;
        font-size: 14px;
        padding: 4px;
        width: 43%;

        option {
            font-size: 14px;
        }
    }

    .number-box {
        font-size: 14px;
        letter-spacing: 1px;
        margin-top: 20px;

        p {
            margin-bottom: 5px;
        }
    }

    #stock {
        display: inline;
        text-align: center;
        width: 45px;
    }
}