.dropdowns {
  justify-content: space-between;
  margin: 35px auto 0;
  max-width: 365px;
  width: 100%; }
  .dropdowns select {
    border-radius: 4px;
    font-size: 14px;
    padding: 4px;
    width: 45%; }
    .dropdowns select option {
      font-size: 14px; }
