@import '../variables/variables.scss';

@import '../mixins/mixins.scss';

.dropdowns {
    font-size: 15px;
    justify-content: space-between;
    margin: 25px auto 0;
    max-width: 500px;
    width: 100%;
}