.dropdown-container {
  background-color: cornflowerblue;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
  margin: 50px auto;
  max-width: 550px;
  padding: 5px;
  text-align: center; }

.dropdown-selection #makeDropdown select {
  padding: 5px; }

.dropdown-total {
  color: #fff;
  font-weight: 700;
  margin-left: auto; }
