.dropdowns {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  margin: 25px auto 0;
  max-width: 530px;
  width: 100%; }
  .dropdowns select {
    max-width: 250px;
    padding: 2px; }
