@import '../variables/variables.scss';

@import '../mixins/mixins.scss';

.dropdowns {
    font-size: 14px;
    justify-content: space-between;
    margin: 25px auto 0;
    max-width: 480px;
    width: 100%;

    select {
        max-width: 220px;

        option { 
            padding: 5px 0;
        }
    }
}