@import '../variables/variables.scss';
@import '../mixins/mixins.scss';

.student-list {
    display: flex;
    font-size: 15px;
    justify-content: space-between;
    margin: 25px auto 0;
    max-width: 265px;

    select, option {
        padding: 5px 3px;
    }
}

#mark {
    border: 1px solid #ccc;
    padding: 5px 3px;
}