.hide-select {
    display: none;
}

.show-select {
    display: block;
}

.form-tabs {
    input {
        display: none;
    }

    label {
        border: 1px solid #ccc;
        border-radius: 6px;
        padding: 7px 12px;
    }
}