body {
  color: #444;
  margin: 0;
  padding: 0; }
  body #main {
    padding: 30px; }
    body #main .tube__container {
      margin: 0 auto;
      width: 400px; }
      body #main .tube__container .tube__table {
        border: 1px solid #ccc;
        font-size: 16px;
        width: 400px; }
        body #main .tube__container .tube__table th {
          text-align: left; }
        body #main .tube__container .tube__table th, body #main .tube__container .tube__table td {
          border: 1px solid #ccc;
          padding: 10px 0px;
          text-indent: 8px; }
