body {
    margin: 0;
    padding: 0;

    #main {
        color: #444;
        font-family: Arial, Helvetica, sans-serif;
        margin: 30px 0 0;

        .tube-container {
            margin: 0 auto;
            max-width: 450px;

            .tube-table {
                border: 1px solid #ccc;
                font-size: 14px;
                width: 100%;
                th {
                    text-align: left;
                }
                th, td {
                    border: 1px solid #ccc;
                    padding: 10px 20px;
                }
                .tube-status {
                    font-weight: bold;
                }
            }
        }
    }
}