@import '../variables/variables.scss';

@import '../mixins/mixins.scss';

.form-validation {
    background-color: #fafafa;
    max-width: 600px;
    margin: 30px auto;
    padding: 25px;

    div[class="form-group"] {
        display: flex;
        justify-content: space-around;
        line-height: 34px;
        margin-left: 0px;
        margin-right: 0px;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"] {
        width: 300px;
    }

    input[type="date"] {
        width: 200px;
    }

    input[name="age"] {
        width: 100px;
    }
}
.location-container {
    margin-left: 20px;
    max-width: 200px;
}
.buttons-container {
    max-width: 130px;
}
.submit-reset {
    clear: both;
    margin: 0 auto;
    max-width: 150px;
}
.rootCondition {
    color: $red;
    font-weight: bold;
    text-indent: 15px;
}