.departures {
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #444;
  margin: 40px auto;
  max-width: 800px;
  width: 100%; }
  .departures table {
    text-align: center; }
  .departures th, .departures td {
    padding: 10px; }
