@import '../variables/variables.scss';

@import '../mixins/mixins.scss';

.teams {
    @include font(15px, $font, $gill-sans);
    margin: 25px auto;
    max-width: 550px;
    text-align: center;
    width: 100%;
}
.team-name {
    text-transform: uppercase;
}
.qualified-teams {
    background-color: #ccffcc;
}
.eliminated-teams {
    background-color: #ffcdd2;
}